{% extends 'base.html' %}

{% block page_title %}
{{ _('Allgemeine Geschäftsbedingungen (AGB)') }}
{% endblock %}

{% block content %}

<p>{{ _('Diese Website stellt Werkzeuge zur Verfügung, die kostenlos genutzt werden können. Die Nutzung erfolgt auf eigene Verantwortung.') }}</p>
<p>{{ _('Wir übernehmen keine Gewähr für die Richtigkeit, Vollständigkeit oder Aktualität der Ergebnisse.') }}</p>
<p>{{ _('Änderungen an den angebotenen Funktionen oder der Nutzungsbedingungen können jederzeit vorgenommen werden.') }}</p>
{% endblock %}
