{% extends 'base.html' %}

{% block page_title %}
{{ _('Impressum') }}
{% endblock %}

{% block content %}

<h2>{{ _('Angaben gemäß § 5 TMG:') }}</h2>
    <p>
        {{ _('Werkzeugkästchen GmbH') }}<br>
        {{ _('Musterstraße 12') }}<br>
        {{ _('12345 Musterstadt') }}<br>
        {{ _('Deutschland') }}
    </p>

    <h3>{{ _('Vertreten durch:') }}</h3>
    <p>
        {{ _('Max Mustermann, Geschäftsführer') }}
    </p>

    <h3>{{ _('Kontakt:') }}</h3>    <p>
        {{ _('Telefon: +49 (0) 123 456 789') }}<br>
        {{ _('E-Mail:') }} <a href="mailto:info@werkzeugkaestchen.de">info@werkzeugkaestchen.de</a><br>
        {{ _('Webseite:') }} <a href="https://www.werkzeugkaestchen.de" target="_blank">www.werkzeugkaestchen.de</a>
    </p>

    <h3>{{ _('Registereintrag:') }}</h3>
    <p>
        {{ _('Eintragung im Handelsregister.') }}<br>
        {{ _('Registergericht: Amtsgericht Musterstadt') }}<br>
        {{ _('Registernummer: HRB 123456') }}
    </p>

    <h3>{{ _('Umsatzsteuer-ID:') }}</h3>    <p>
        {{ _('Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE123456789') }}
    </p>

    <h3>{{ _('Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:') }}</h3>
    <p>
        {{ _('Max Mustermann') }}<br>
        {{ _('Musterstraße 12') }}<br>
        {{ _('12345 Musterstadt') }}
    </p>

    <h2>{{ _('Haftungsausschluss (Disclaimer)') }}</h2>

    <h3>{{ _('Haftung für Inhalte') }}</h3>    <p>
        {{ _('Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
        Nach §§ 8 bis 10 TMG sind wir jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen.') }}
    </p>

    <h3>{{ _('Haftung für Links') }}</h3>
    <p>
        {{ _('Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.') }}
    </p>

    <h3>{{ _('Urheberrecht') }}</h3>
    <p>
        {{ _('Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.') }}
    </p>
    
{% endblock %}