{% extends 'base.html' %}

{% block page_title %}
{{ _('Datenschutzerklärung') }}
{% endblock %}

{% block content %}

<p>{{ _('Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Ihre Daten werden vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften behandelt.') }}</p>

<h2>{{ _('Cookies') }}</h2>
<p>{{ _('Unsere Website verwendet Cookies, um Ihre Nutzererfahrung zu verbessern. Sie können die Verwendung von Cookies im Cookie-Banner ablehnen.') }}</p>

<h2>{{ _('Erhebung und Verarbeitung von Daten') }}</h2>
<p>{{ _('Es werden keine personenbezogenen Daten gespeichert oder an Dritte weitergegeben. Die Nutzung der Werkzeuge erfolgt anonym.') }}</p>

<h2>{{ _('Kontakt') }}</h2>
<p>{{ _('Bei Fragen zum Datenschutz wenden Sie sich bitte an: datenschutz@werkzeugkasten.de') }}</p>
{% endblock %}
