.logo {
    width: var(--space-l);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 40px;
    background-color: var(--secondary-color);
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-list-item a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
}

.nav-list-item a:hover {
    color: var(--accent-color);
    text-decoration: underline var(--accent-color);
    transform: translateY(-3px);
    text-shadow: 0 3px 5px rgba(202, 6, 18, 0.2);
}

.nav-list-item a:active {
    transform: translateY(-1px);
}

.btn {
    background-color: var(--accent-color);
    border: inherit;
    color: var(--primary-color);
}

.btn:hover {
    background-color: var(--accent-light-color);
    color: var(--primary-color);
}