.logo{
    width:var(--space-l);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 40px;
    background-color: var(--secondary-color);
}
.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-list-item a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
.nav-list-item a:hover{
    color: var(--accent-color);
    text-decoration: underline var(--accent-color);
}
.btn{
    background-color: var(--accent-color);
    border: inherit;
    color: var(--primary-color);
}
.btn:hover{
    background-color: var(--accent-light-color);
    color: var(--primary-color);
}