{% extends 'base.html' %}
{% block title %}{{ _('Über uns') }}{% endblock %}
{% block page_title %}{{ _('Über uns') }}{% endblock %}
{% block content %}
  <section class="about-section">
    <div class="">
        <h2>{{ _('Unser Team') }}</h2>
        <div class="about-team">
            <div>
                <p>
                    {{ _('Wusstet ihr, dass unser Team ein bisschen wie die Pinguine aus Madagascar ist? 🐧🐧🐧🐧🐧🐧 Wir sehen vielleicht aus wie ein normales Entwicklerteam, aber hinter den Kulissen laufen unsere Tools wie eine geheime Operation ab!') }}
                </p>
                <ul>
                    <li><strong>{{ _('Skipper 🦾') }}</strong>– {{ _('unser Chefentwickler, der immer einen Plan hat („Lächeln und winken, Jungs!").') }}</li>
                    <li><strong>{{ _('Kowalski 🧠') }}</strong>– {{ _('der Analytiker, der Bugs schneller löst als du „JSON-Fehler" sagen kannst.') }}</li>
                    <li><strong>{{ _('Rico 💥') }}</strong>– {{ _('unser Code-Zerstörer (…und Fixer), der neue Features im Sekundentakt raushaut.') }}</li>
                    <li><strong>{{ _('Private 😊') }}</strong>– {{ _('unser Support, immer freundlich, aber unterschätze ihn nicht – er kann dein Problem lösen, bevor du es selbst verstehst!') }}</li>
                    <li><strong>{{ _('Pinguin 1 1️⃣') }}</strong>– {{ _('Einer der vergessenden Pinguine, er war immer da auch wenn man es nicht wahrhaben will.') }}</li>
                    <li><strong>{{ _('Pinguin 2 2️⃣') }}</strong>– {{ _('Keine ahnung wer das ist.') }}</li>
                <ul>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/about_us.jpg') }}" class="team" alt="{{ _('Unser Team') }}">
            </div>        
        </div>    
    </div>
    <div>
        <h2>{{ _('Unsere Mission') }}</h2>
        <p>
            {{ _('Wir entwickeln leistungsstarke digitale Werkzeuge, um Ihnen den Arbeitsalltag zu erleichtern. Ob JSON-Validierung, Wortzählung oder Umwandlungen – unsere Tools sind effizient und benutzerfreundlich.') }}
        </p>
    </div>
    <div>
        <h2>{{ _('Warum wir?') }}</h2>
        <ul>
            <li>{{ _('Präzise und zuverlässige Softwarelösungen') }}</li>
            <li>{{ _('Benutzerfreundliche Oberfläche') }}</li>
            <li>{{ _('Engagiertes und erfahrenes Team') }}</li>
        </ul>
    </div>
    <div class="">
        <p> {{ _('Also, wenn du mal wieder feststeckst… frag dich einfach:') }} </p>
        <a href="{{ url_for('contact') }}" class="fancy-button">{{ _('Was würden die Pinguine tun?') }}</a>
    </div>
  </section>
{% endblock %}