<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
  <!-- Navbar -->
  <nav class="navbar">
    <a class="brand" href="{{ url_for('index') }}"> <img class="logo" src="/static/img/Group.svg"></a>
    <div>
      <ul class="nav-list">
        <li class="nav-list-item"><a href="{{ url_for('about') }}">{{ _('Über uns') }}</a></li>
        <li class="nav-list-item"><a href="{{ url_for('contact') }}">{{ _('Kontakt') }}</a></li>
        <div class="language-switcher">
          {% if not request.path.startswith('/download_') and not request.path.startswith('/handle_tool') %}
            <a href="?language=de" {% if session.get('language') == 'de' %}class="active"{% endif %}>DE</a> |
            <a href="?language=en" {% if session.get('language') == 'en' %}class="active"{% endif %}>EN</a>
          {% else %}
            <span class="disabled-link">DE</span> | <span class="disabled-link">EN</span>
          {% endif %}
        </div>
      </ul>
    </div>
  </nav>
  
  {% if show_ads %}
  <div class="container my-4 text-center">
    <a href="#searchInput"  class="ad-wrapper">
      <img src="/static/img/Beige.png" class="advertising">
      <div class="ad-overlay">Angebot sehen!</div>
    </a>
  </div>
  {% endif %}

  <div class="container mt-4">
    {% block page_title %}{% endblock %}
    {% block content %}{% endblock %}
  </div>

  
  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>{{ _('Über uns') }}</h3>
        <p>{{ _('Wir entwickeln leistungsstarke digitale Werkzeuge, um Ihren Arbeitsalltag zu erleichtern.') }}</p>
      </div>
      <div class="footer-section">
        <h3>{{ _('Schnelllinks') }}</h3>
        <ul class="footer-links">
          <li><a href="{{ url_for('index') }}">{{ _('Startseite') }}</a></li>
          <li><a href="{{ url_for('about') }}">{{ _('Über uns') }}</a></li>
          <li><a href="{{ url_for('contact') }}">{{ _('Kontakt') }}</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>{{ _('Rechtliches') }}</h3>
        <ul class="footer-links">
          <li><a href="{{ url_for('datenschutz') }}">{{ _('Impressum') }}</a></li>
          <li><a href="{{ url_for('impressum') }}">{{ _('Datenschutz') }}</a></li>
          <li><a href="{{ url_for('agb') }}">{{ _('AGB') }}</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>{{ _('© 2025 Die Pinguine aus Madagascar. Alle Rechte vorbehalten.') }}</p>
    </div>
  </footer>

  <!-- Cookie Overlay -->
  <div id="cookieOverlay">
    <p>Diese Website verwendet Cookies, um Ihre Erfahrung zu verbessern und personalisierte Werbung anzuzeigen. Stimmen Sie der Verwendung von Cookies zu?</p>
    <div>
      <button id="acceptCookies">Ja, akzeptieren</button>
      <button id="rejectCookies">Nein, ablehnen</button>
    </div>
  </div>

  <!-- JS -->
  <script src="/static/js/index.js"></script>
  <script src="/static/js/fancy-button.js"></script>
  <script src="/static/js/cookie.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
