{% extends 'base.html' %}

{% block content %}
    <h1>Vielen Dank!</h1>
    <p>Ihre Nachricht wurde erfolgreich gesendet. Wir werden uns so schnell wie möglich bei Ihnen melden.</p>
    <a href="{{ url_for('contact') }}">Zurück zum Startseite</a>
{% endblock %}
